.navbar-inverse {
    background-color: #0258a4;
    border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    transition: transform .2s;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #75beff;
    background-color: transparent;
    transform: scale(1.1);
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #75beff;
    background-color: transparent;
}